.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-title,
.product-category {
  text-align: left;
}

.product-title {
  font-size: 18px;
  margin: 10px 0;
}

.product-category {
  font-size: 14px;
  color: #4169E1;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.add-to-cart {
  background-color: #4169E1;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #425eb3;
}

.product-img-div {
  height: 435px;
}

.product-price-div {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.product-text-div {
  height: 120px;
}